/*@sonar-ignore-start*/
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin 'daisyui' {
  themes:
    light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden,
    forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade,
    night, coffee, winter;
  darktheme: corporate;
}

@theme {
  --font-sans: InterVariable, sans-serif;
}

@config '../../../config/tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.pagy {
  @apply flex space-x-1 text-sm font-semibold text-gray-500;

  a:not(.gap) {
    @apply block rounded-lg bg-gray-200 px-3 py-1;

    &:hover {
      @apply bg-gray-300;
    }

    &:not([href]) {
      /* disabled links */
      @apply cursor-default bg-gray-100 text-gray-300;
    }

    &.current {
      @apply bg-gray-400 text-white;
    }
  }

  label {
    @apply inline-block whitespace-nowrap rounded-lg bg-gray-200 px-3 py-0.5;

    input {
      @apply rounded-md border-none bg-gray-100;
    }
  }
}

/*@sonar-ignore-end*/
