<%# TODO: Make this work with current schema %>
<% content_for :title, 'New student' %>
<div class="flex min-h-[calc(100vh-64px)] items-center justify-center p-4">
  <div class="w-full max-w-[32rem] bg-neutral-100 p-4">
    <h1 class="mb-4 text-3xl font-bold">New student</h1>
    <%= render 'form', student: @student %>
    <div class="mt-4"><%= link_to 'Back to students', students_path, class: 'btn btn-secondary w-full' %></div>
  </div>
</div>
