<div id="successModal" class="flex h-screen items-center justify-center bg-gray-100">
  <div class="rounded-lg bg-white p-6 shadow-lg md:mx-auto">
    <div class="text-center">
      <h3 class="text-base font-semibold text-gray-900 md:text-2xl">Payment Successful!</h3>
      <p class="my-2 text-gray-600">Thank you for your payment. You can now access the school's dashboard.</p>
      <div class="py-10 text-center">
        <a href="/home/index" class="rounded bg-indigo-600 px-12 py-3 font-semibold text-white hover:bg-indigo-500">
          Go to Dashboard
        </a>
      </div>
    </div>
  </div>
</div>
