<div class="mt-4 flex justify-center">
  <% if Current.student? %>
    <%= link_to student_dashboard_path, class: 'btn btn-secondary' do %>
      <i class="fas fa-arrow-left"></i> Back to Student Dashboard
    <% end %>
  <% elsif Current.principal? %>
    <%= link_to principal_dashboard_path, class: 'btn btn-secondary' do %>
      <i class="fas fa-arrow-left"></i> Back to Principal Dashboard
    <% end %>
  <% elsif Current.staff? %>
    <%= link_to staff_dashboard_path, class: 'btn btn-secondary' do %>
      <i class="fas fa-arrow-left"></i> Back to Staff Dashboard
    <% end %>
  <% end %>
</div>
