<% if codes.any?(&:fully_used?) %>
  <div class="mb-2 flex justify-end">
    <%= button_to delete_path,
                  method: :delete,
                  class: 'btn btn-sm btn-error',
                  data: {
                    turbo_confirm: t('common.enrollment_codes.delete_used_confirm')
                  } do %>
      <%= t('common.enrollment_codes.delete_used_codes') %>
    <% end %>
  </div>
<% end %>
