<% if notice %>
  <div class="flex justify-center">
    <div class="alert alert-success mb-4 max-w-md text-center shadow-lg">
      <i class="fas fa-check-circle"></i>
      <span><%= notice %></span>
    </div>
  </div>
<% end %>
