<% content_for :title, 'Subscriptions' %>
<div class="flex min-h-screen px-[40px] pt-[30px]">
  <div class="min-w-full">
    <p class="text-[20px] font-semibold leading-[40px] text-[#00153B]">Your Subscription</p>

    <div>
      <p class="text-[15px] font-medium leading-[27px] text-[#717F87]">Select Plan</p>
    </div>

    <div class="mt-[20px] grid grid-cols-3 gap-[20px]">
      <div
        key="1"
        class="shadow-[0px 1px 2px #E1E3E5] w-full divide-y rounded-[10px] border border-[#E1E3E5] bg-[#fff]"
      >
        <div class="px-[25px] pb-[25px] pt-[15px]">
          <div class="flex justify-end">
            <div class="align-center flex justify-center rounded-[20px] bg-[#F6F6F7] px-[12px]">
              <p class="text-[12px] font-bold leading-[28px] text-[#00153B]">Starter</p>
            </div>
          </div>

          <div>
            <p class="text-[19px] font-bold leading-[24px] text-[#00153B]">Trial</p>
            <p class="text-[50px] font-bold leading-[63px] text-[#00153B]">Free</p>
          </div>

          <div>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">200 Students</p>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">30 Days</p>
          </div>
        </div>

        <div class="px-[25px] pb-[35px] pt-[25px]">
          <div>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Attendance Tracker</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">QR Scanner Check In</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Enrollment Code System</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Track Payment Invoice</p>
          </div>

          <div class="mt-[25px]">
            <button
              class="select-tier rounded-[5px] bg-[#006EF5] px-[25px] py-[15px] text-[14px] font-semibold leading-[17px] text-[#fff] hover:bg-sky-700"
            >
              Try Free
            </button>
          </div>
        </div>
      </div>

      <div
        key="2"
        class="shadow-[0px 1px 2px #E1E3E5] w-full divide-y rounded-[10px] border border-[#E1E3E5] bg-[#fff]"
      >
        <div class="px-[25px] pb-[25px] pt-[15px]">
          <div class="flex justify-end">
            <div class="align-center flex justify-center rounded-[20px] bg-[#F6F6F7] px-[12px]">
              <p class="text-[12px] font-bold leading-[28px] text-[#00153B]">Value</p>
            </div>
          </div>

          <div>
            <p class="text-[19px] font-bold leading-[24px] text-[#00153B]">Fast Start</p>
            <div class="flex items-baseline">
              <p class="text-[45px] font-bold leading-[63px] text-[#00153B]">$500</p>
              <span class="text-[20px] font-medium leading-[25px] text-[#00153B]">/mo</span>
            </div>
          </div>

          <div>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">500 Students</p>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">$1.00 Per Student</p>
          </div>
        </div>

        <div class="px-[25px] pb-[35px] pt-[25px]">
          <div>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Attendance Tracker</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">QR Scanner Check In</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Enrollment Code System</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Track Payment Invoice</p>
          </div>

          <div class="mt-[25px]">
            <button
              class="select-tier rounded-[5px] bg-[#006EF5] px-[25px] py-[15px] text-[14px] font-semibold leading-[17px] text-[#fff] hover:bg-sky-700"
            >
              Buy Now
            </button>
          </div>
        </div>
      </div>

      <div
        key="3"
        class="shadow-[0px 1px 2px #E1E3E5] w-full divide-y rounded-[10px] border border-[#E1E3E5] bg-[#fff]"
      >
        <div class="px-[25px] pb-[25px] pt-[15px]">
          <div class="flex justify-end">
            <div class="align-center flex justify-center rounded-[20px] bg-[#F6F6F7] px-[12px]">
              <p class="text-[12px] font-bold leading-[28px] text-[#00153B]">Pro</p>
            </div>
          </div>

          <div>
            <p class="text-[19px] font-bold leading-[24px] text-[#00153B]">Accelerate</p>
            <div class="flex items-baseline">
              <p class="text-[45px] font-bold leading-[63px] text-[#00153B]">$800</p>
              <span class="text-[20px] font-medium leading-[25px] text-[#00153B]">/mo</span>
            </div>
          </div>

          <div>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">1000 Students</p>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">$0.8 Per Student</p>
          </div>
        </div>

        <div class="px-[25px] pb-[35px] pt-[25px]">
          <div>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Attendance Tracker</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">QR Scanner Check In</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Enrollment Code System</p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">Track Payment Invoice</p>
          </div>
          <div class="mt-[25px]">
            <button
              class="select-tier rounded-[5px] bg-[#006EF5] px-[25px] py-[15px] text-[14px] font-semibold leading-[17px] text-[#fff] hover:bg-sky-700"
            >
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  OmiseCard.configure({ publicKey: 'pkey_test_62unknn2ef7aol8k7nm' })

  document.querySelectorAll('.select-tier').forEach((button) => {
    button.addEventListener('click', (event) => {
      var amount = event.target.getAttribute('data-amount')
      var tier = event.target.getAttribute('data-tier')
      document.getElementById('amount').value = amount
      document.getElementById('tier').value = tier

      if (amount === 0) {
        document.getElementById('checkoutForm').submit()
      } else {
        OmiseCard.open({
          amount: amount,
          currency: 'USD',
          defaultPaymentMethod: 'credit_card',
          onCreateTokenSuccess: (nonce) => {
            if (nonce.startsWith('tokn_')) {
              document.querySelector('input[name="omiseToken"]').value = nonce
            } else {
              document.querySelector('input[name="omiseSource"]').value = nonce
            }
            document.getElementById('checkoutForm').submit()
          }
        })
      }
    })
  })

  document.getElementById('checkoutForm').addEventListener('submit', (event) => {
    event.preventDefault()
    fetch(event.target.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRF-Token': document.querySelector('input[name="authenticity_token"]').value
      },
      body: new URLSearchParams(new FormData(event.target))
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById('paymentModalBody').innerText = data.message
        document.getElementById('paymentModal').classList.remove('hidden')
      })
      .catch((error) => {
        document.getElementById('paymentModalBody').innerText = 'Payment failed: ' + error.message
        document.getElementById('paymentModal').classList.remove('hidden')
      })
  })
</script>
